.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}
.pie{
  width: 20%;
  min-width: 200px;
  padding: 20px
}
.students{
  width: 75%;
  margin-left: 20px;
}

.events{
  height: 200px;
  width: 100%;

}

a{
  text-decoration: none;
  color: inherit;
}
.upcoming{
  width: 45%;
  height: 100%;
  background-color: aquamarine;
}
.ongoing{
  width: 45%;
  height: 100%;
  background-color: bisque;
}
.add-event{
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-event>div{
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}



